html{
    background-color: #A9A9A9;
}

.left{
    text-align: left;
}
.list1{
    text-align: left;
    background-color: rgb(115, 132, 141);
}
.list2{
    background-color: azure;
    text-align: left;
}